<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Money</string>
			<key>File</key>
			<string>Licenses/Money</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>ValueCoding</string>
			<key>File</key>
			<string>Licenses/ValueCoding</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SideMenu</string>
			<key>File</key>
			<string>Licenses/SideMenu</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>paper-onboarding</string>
			<key>File</key>
			<string>Licenses/paper-onboarding</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Icons</string>
			<key>File</key>
			<string>Licenses/Icons</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Floaty</string>
			<key>File</key>
			<string>Licenses/Floaty</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>APNumberPad</string>
			<key>File</key>
			<string>Licenses/APNumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Material Design Components</string>
			<key>File</key>
			<string>Licenses/MaterialDesign</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SwipeCellKit</string>
			<key>File</key>
			<string>Licenses/SwipeCellKit</string>
		</dict>
	</array>
</dict>
</plist>
